{% extends 'gymapp/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<style>
  body{
    background: url("{% static 'img/gym.jpg' %}") no-repeat center/cover fixed;
  }
</style>

<h2 class="text-center fw-bold text-light mb-4">
  Dashboard <span class="text-danger">Overview</span>
</h2>

<div class="row g-3 text-center">
  <div class="col-md-4 col-sm-12">
    <div class="card bg-primary text-white shadow">
      <div class="card-body">
        <h3>{{ members }}</h3>
        <p>Total Members</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <div class="card bg-success text-white shadow">
      <div class="card-body">
        <h3>{{ payments }}</h3>
        <p>Total Payments</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <div class="card bg-warning text-white shadow">
      <div class="card-body">
        <h3>{{ attendance }}</h3>
        <p>Total Attendance</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
